{% extends 'admin/layout.html.twig' %}

{% block title %}{{ parent() }}-Admin(utilisateurs){% endblock %}

{% block main %}
<div class="container-fluid">
    <h1 class="text-cursive fw-bold">Liste des utilisateurs</h1>
    <div class="table-responsive">
        <table class="table table-bordered text-nowrap">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse email</th>
                    <th>Roles</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        {{ user.lastname|upper }}
                    </td>
                    <td>
                        {{ user.firstname|capitalize }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {% for role in user.roles %}
                        {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        {{ user.createdat|date("d-M-Y") }}
                    </td>
                    <td>
                        {{ user.createdat|date("d-M-Y") }}
                    </td>
                    <td>
                        <a href="#" class="btn border-0" data-bs-toggle="tooltip" title="Modifier">
                            <i class="fa fa-edit text-warning"></i>
                        </a>
                        <button class="btn border-0" data-bs-toggle="modal" data-bs-target="#{{ user.id }}">
                            <i class="fa fa-trash text-danger"></i>
                        </button>
                        {{ component('DeleteModal', {id: user.id, title: 'Utilisateur(rice): ' ~
                        user.firstname|capitalize ~
                        ' ' ~ user.lastname|upper, message: 'Voulez-vous supprimer cette utilisateur(rice)?', path:
                        '#'}) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}