<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand text-cursive fw-bold" href="{{ path('app_home') }}">NoanaBe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start w-100" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    Offcanvas
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link {{ currentMenu is defined and currentMenu == 'home' ? 'active' }}"
                            aria-current="page" href="{{ path('app_home') }}">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-dashboard">&nbsp;</i>
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item {{ currentMenu is defined and currentMenu == 'adminUser' ? 'active' }}"
                                href="{{ path('app_user') }}">
                                <i class="fa fa-users">&nbsp;</i>
                                Utilisateurs
                            </a>
                            <a class="dropdown-item {{ currentMenu is defined and currentMenu == 'adminCategory' ? 'active' }}"
                                href="{{ path('app_category') }}">
                                <i class="fa fa-tag"></i>
                                Catégories
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>