{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container mb-5">
    <h1 class="text-cursive fw-bold">Résultats de la recherche pour: "{{ query }}"</h1>

    {% if products %}
      <h5>Nombre de résultats: {{ products|length }}</h5>
    {% endif %}

    <div class="row">
      {% for product in products %}
        <div class="col-md-6 col-lg-4">{{ include('components/ProductCard.html.twig') }}</div>
      {% endfor %}
    </div>
    {{ knp_pagination_render(products) }}
  </div>
{% endblock %}
