{% extends "admin/layout.html.twig" %}
{% block title %}{{ parent() }}-Admin(catégories){% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="text-cursive fw-bold">Liste des catégories</h1>
    {% include "partials/_flashMessages.html.twig" %}
    <a href="{{ path('app_category_new') }}" class="btn btn-primary mb-2">
        <i class="fa fa-add">&nbsp;</i>
        Ajouter une catégorie
    </a>
    <div class="table-responsive">
        <table class="table table-bordered text-nowrap">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ path('app_category_edit', {slug: category.slug}) }}" class="btn border-0"
                            data-bs-toggle="tooltip" title="Modifier">
                            <i class="fa fa-edit text-warning"></i>
                        </a>
                        <button class="btn border-0" data-bs-toggle="modal" data-bs-target="#{{ category.id }}">
                            <i class="fa fa-trash text-danger"></i>
                        </button>
                        {{ component('DeleteModal', {id: category.id, title: 'Catégorie: ' ~ category.name, message:
                        'Voulez-vous
                        supprimer la catégorie ' ~
                        category.name ~ '?', path: path('app_category_delete', {slug: category.slug}) }) }}
                    </td>
                </tr>
                {% else %}
                <tr class="text-center">
                    <td colspan="2" class="text-danger">Aucun résultat</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}