<div class="form-group mb-3">{{ form_label(form.name) }}
  {{ form_widget(form.name) }}
  {{ form_errors(form.name) }}</div>
<div class="form-group mb-3">{{ form_label(form.shippingCost) }}
  {{ form_widget(form.shippingCost) }}
  {{ form_errors(form.shippingCost) }}</div>
